UnityProject/.idea/
UnityProject/Assembly-CSharp.csproj
UnityProject/UnityProject.sln
UnityProject/Library/EditorUserSettings.asset
UnityProject/Library/
UnityProject/obj/
UnityProject/Temp/
UnityProject/Logs/
UnityProject/Assets/Plugins/Editor/JetBrains/
UnityProject/Assets/Plugins/Editor/JetBrains.meta
